.twitter_button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 1vw;
}

.twitter_button:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: .4s;
}

.image {
    width: 2vw;
    margin: .4vw;
}

.value {
    font-size: 1.5vw;
    user-select: none;
}

@media screen and (max-width: 1000px) {
    .twitter_button {
        border-radius: 2.5vw;
    }

    .image {
        width: 6vw;
        margin: 1vw;
    }

    .value {
        font-size: 4vw;
    }
}